* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.physical-world {
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 1px #000000;
}

.node-marker {
  z-index: 402;
}

.node-wifi-reach-marker {
  z-index: 401;
}